<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="RollingFile" fileName="src/test/resources/logs/Application.log"
                     filePattern="src/test/resources/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log" append="false">
            <PatternLayout>
                <Pattern>%d{dd:MM:yyyy - HH:mm:ss} %-3p %c{2} [%t] - %m%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5000KB" />
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.w2a.testcases" level="trace">
            <LevelRangeFilter minLevel="TRACE" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="trace">
            <LevelRangeFilter minLevel="TRACE" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>